<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button *ngIf="backVisible" (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{title}}</ion-title>
    <ion-spinner slot="end" slot="end" [hidden]="!loading"></ion-spinner>

  </ion-toolbar>
</ion-header>
