<header [title]="'Settings'" [backVisible]="false"></header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-no-padding">
          <ion-card-content class="ion-no-padding ion-no-margin">
            <ion-row>
              <ion-col size="12" class="header">
                <h2 class="header-label">Account Information</h2>
              </ion-col>
            </ion-row>
            <ion-item class="ion-no-padding" (click)="edeitProfile()">
              <h2 class="content">Edit Profile</h2>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-no-padding">
          <ion-card-content class="ion-no-padding ion-no-margin">
            <ion-row>
              <ion-col size="12" class="header">
                <h2 class="header-label">App Information</h2>
              </ion-col>
            </ion-row>
            <ion-item class="ion-no-padding" (click)="renewSubscription()">
              <h2 class="content">Renew Subscription</h2>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-item>

            <ion-item class="ion-no-padding" (click)="openTerm()">
              <h2 class="content">Terms of Use</h2>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-item>

            <ion-item class="ion-no-padding" (click)="openPrivacy()">
              <h2 class="content">Privacy Policy</h2>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-item>

            <ion-item class="ion-no-padding" (click)="logout()">
              <h2 class="content" style="color: var(--ion-color-primary);">Sign Out</h2>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
