.header {
    background-color: #d1d8e0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-label {
    color: black;
    font-weight: bold;
    font-size: 1.5vh;
    margin-left: 5px;
}

.content {
    font-size: 1.5vh;
    margin-left: 10px;
}