ion-searchbar {
  --icon-color: var (--ion-color-primary);
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  ::ng-deep {
    .searchbar-input-container {
      .searchbar-input {
        border-radius: 20px;
        border: 2px solid rgb(36, 35, 35);
      }
    }
  }
}

div {
  border: 2px solid rgb(36, 35, 35);
  border-radius: 20px;
  height: 40px;
  padding: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  p {
    font-size: 10px;
    text-align: center;
    line-height: 1;
  }
}
