<header [title]="'Dreamzest'"></header>

<ion-content>
  <ion-searchbar placeholder="Search" (ionChange)="searchKeywords()" [(ngModel)]="search"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let item of items">
        <div (click)="openItem(item.id)">
          <p>{{item.name}}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="currentPage !== last_page">
      <ion-col class="ion-text-center">
        <ion-button fill="clear" (click)="loadMore()">See More</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
