<header [title]="'Dreamzest'" [loading]="loading"></header>

<ion-content color="light">


  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="12">
        <ion-label color="primary">
          <h2 style="font-size: 2.7vh;">Sign Up</h2>
          <p style="color: #e74c3c;">To make your good dreams become reality</p>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding" lines="none">
          <ion-icon class="m-l-10" name="people-circle" color="primary"></ion-icon>
          <ion-input class="m-l-10" placeholder="Name" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding" lines="none">
            <ion-icon class="m-l-10" name="person" color="primary"></ion-icon>
            <ion-input class="m-l-10" placeholder="Username" [(ngModel)]="userName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> -->

    <!-- <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding" lines="none">
            <ion-icon class="m-l-10" name="call" color="primary"></ion-icon>
            <ion-input class="m-l-10" placeholder="Phone" type="telephone" [(ngModel)]="userPhoneNo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> -->

    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding" lines="none">
          <ion-icon class="m-l-10" name="mail" color="primary"></ion-icon>
          <ion-input class="m-l-10" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding" lines="none">
          <ion-icon class="m-l-10" name="lock-closed" color="primary"></ion-icon>
          <ion-input class="m-l-10" type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button color="primary" expand="block" [disabled]="loading" (click)="Signup()">Signup</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
