<ion-content>

  <ion-gird *ngIf="step === 1" class="grid">
    <ion-row>
      <ion-col size="12">
        <ion-label class="ion-text-center">
          <h2 style="font-size: 4vh; color: var(--ion-color-primary);"><b>SUBSCRIPTION REQUIRED</b></h2>
          <h2 style="font-size: 2.22vh; margin-top: 15px; color: black; margin: 10px 20px;">
            You don't have subscription, need to subscribe to the package to find your dream interpretation
          </h2>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button (click)="next()">SHOW ME HOW</ion-button>
      </ion-col>
    </ion-row>

  </ion-gird>

  <ion-gird *ngIf="step === 2" class="grid">
    <ion-row>
      <ion-col size="12">
        <ion-label class="ion-text-center">
          <h2 style="font-size: 4vh; color: var(--ion-color-primary);"><b>WHAT WILL YOU GET</b></h2>
          <h2 style="font-size: 2.22vh; margin-top: 15px; color: black; margin: 10px 20px;">
            Dreamzest now offers you professional dream interpretation services online at the most affordable price.
          </h2>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <video width="400" height="500" controls>
          <source src="https://fileproinfo.com/outputfiles/skype_video.mp4" type="video/mp4">
        </video>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-label>
          <h2 style="font-size: 2.22vh; margin-top: 
          15px; color: var(--ion-color-primary); margin: 10px 0px;">
            <b>Dreams</b>
          </h2>


          <h2 style="font-size: 2.22vh; margin-top: 15px; color: black;">
            You can search from thousands of dreams interpretation keywords
          </h2>
        </ion-label>


        <ion-img src="assets/images/dreams.png"> </ion-img>
      </ion-col>
    </ion-row> -->

  </ion-gird>

  <!-- <ion-gird *ngIf="step === 3" class="grid">
    <ion-row>
      <ion-col size="12">
        <ion-label class="ion-text-center">
          <h2 style="font-size: 4vh; color: var(--ion-color-primary);"><b>WHAT WILL YOU GET</b></h2>
          <h2 style="font-size: 2.22vh; margin-top: 15px; color: black; margin: 10px 20px;">
            Dreamzest now offers you professional dream interpretation services online at the most affordable price.
            <br><b>(2/2)</b>
          </h2>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>
          <h2 style="font-size: 2.22vh; margin-top: 
        15px; color: var(--ion-color-primary); margin: 10px 0px;">
            <b>Interpretations</b>
          </h2>
          <h2 style="font-size: 2.22vh; margin-top: 15px; color: black;">
            After finding your dream keyword you can click on it and then you will find your dream interpretation with
            Bible & Islamic Solution
          </h2>
        </ion-label>
        <ion-img src="assets/images/interpretation.png"> </ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label>
          <h2 style="font-size: 2.22vh; margin-top: 
        15px; color: var(--ion-color-primary); margin: 10px 0px;">
            <b>Bible Solution</b>
          </h2>
        </ion-label>
        <ion-img src="assets/images/bible-int.png"> </ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label>
          <h2 style="font-size: 2.22vh; margin-top: 
        15px; color: var(--ion-color-primary); margin: 10px 0px;">
            <b>Islamic Solution</b>
          </h2>
        </ion-label>
        <ion-img src="assets/images/quran-int.png"> </ion-img>
      </ion-col>
    </ion-row>

  </ion-gird> -->

  <ion-gird *ngIf="step === 3" class="grid">
    <ion-row>
      <ion-col size="12">
        <ion-label class="ion-text-center">
          <h2 style="font-size: 4vh; color: var(--ion-color-primary);"><b>WHAT'S NEXT</b></h2>
          <h2 style="font-size: 2.22vh; margin-top: 15px; color: black; margin: 10px 20px;">
            Subscribe to the one time package and you will get the life time dream interpretation.
          </h2>
        </ion-label>

      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="next()" style="width: 60%;">
          I want to subscribe now
        </ion-button>

        <ion-button (click)="close()" style="width: 60%;" color="medium">
          I don't want to subscribe
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-gird>
</ion-content>

<ion-footer *ngIf="step === 2">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="next()" style="width: 40%;">
        {{step === 3 ? 'Take me to the subscription' : 'Next'}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>