<ion-grid>
  <ion-row class="card-sc">
    <ion-col>
      <ion-card>
        <img class="sub-img" src="assets/img/bn1.svg" />

        <ion-card-header lass="ion-text-center">

          <ion-card-title class="ion-text-center heading">Find your dream</ion-card-title>
          <ion-card-subtitle class="subhead">Subscribe to our service to find biblical as well as Islamic solutions to
            your dreams, In just $10</ion-card-subtitle>

        </ion-card-header>
        <ion-card-content>
          <ion-grid class="ion-no-margin ion-no-padding">
            <ion-row class="ion-text-center">
              <ion-col size="4">
                <div class="icons">
                  <ion-icon name="cloudy-night-outline"></ion-icon>
                  <h3>Dreams <br />Interpretation</h3>
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="icons">
                  <ion-icon name="search-outline"></ion-icon>
                  <h3>Search <br />Keywords</h3>
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="icons">
                  <ion-icon name="checkmark-done-outline"></ion-icon>
                  <h3>Religious <br />Solution</h3>
                </div>
              </ion-col>
              <ion-col size="12">
                <ion-button expand="block" shape="round" (click)="start()">Start Now</ion-button>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card-content>


      </ion-card>






    </ion-col>
  </ion-row>





</ion-grid>
