.sub-img {
    padding: 10px;
}

.heading {
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.subhead {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.icons {
    color: #000;


    h3{
      font-size: 12px;
    }
    ion-icon {
      padding: 10px;
        font-size: 20px;
        background-color: #e74c3c;
        height: 30px;
        color: #fff;
        width: 30px;
        padding: 15px;
        border-radius: 100px;
    }
}
