<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="this.modals.dismiss()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    <p class="ion-no-margin">1. OUR PLEDGE TO YOU</p>
    <p class="ion-no-margin">Our top most priorities are to make sure that the information we have about you is protected and secure. We
      respect and value our relationship with you and work hard to preserve your privacy and ensure that your
      preferences are honored. At the same time, the very nature of our relationship may result in us collecting or
      sharing certain types of information about you. We explain how we use customer information in this privacy policy
      statement.</p>
    <p>2. INFORMATION WE COLLECT</p>
    <p>We collect information: You give to us on applications, surveys, registration forms, etc.; you give to us when
      you make
      a purchase, or other account information such as balance, payment history or credit/debit card usage; and you give
      to us
      when you submit a dream, a question, an experience, or a sleep issue.</p>
    <p>3. HOW WE SHARE INFORMATION</p>
    <p>We may share information with companies outside our corporate family that perform services on our behalf. We may
      share
      information to respond to your inquiries, or provide information about our content and products or services that
      we
      offer. We share data provided by customers, purchase/account data, and verifying data. We do not share information
      about
      you with non-affiliates (companies outside our organization) for them to contact you for their own marketing
      purposes.
      The law permits us to share information about our current and former customers with government agencies or
      authorized
      third parties under certain circumstances. For example, we may be required to share such information in response
      to
      subpoenas or to comply with certain laws.</p>
    <p>4. HOW WE PROTECT INFORMATION</p>
    <p>We strive to protect your data and safeguard it from those not authorized to see it.</p>
  </div>
</ion-content>
