<ion-item>
  <ion-label>
    <h2>{{ item.title }}</h2>
    <p>{{ item.description }}</p>
  </ion-label>

  <ion-chip color="light" outline="true">
    <ion-label>{{item.price}}</ion-label>
  </ion-chip>

  <!-- <ion-button class="ion-padding ion-margin-bottom" detail="false">
    ${{item.price}}
  </ion-button> -->
</ion-item>
