<header [title]="'Dreamzest'" [loading]="loading"></header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label color="primary">
          <h2 style="font-size: 2.7vh;">Sign In</h2>
          <p style="color: #e74c3c;">To make your good dreams become reality</p>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-item class="ion-no-padding" lines="none">
          <ion-icon class="m-l-10" name="mail" color="primary"></ion-icon>
          <ion-input class="m-l-10" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding" lines="none">
          <ion-icon class="m-l-10" name="lock-closed" color="primary"></ion-icon>
          <ion-input class="m-l-10" type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 20px; margin-bottom: 20px;">
      <ion-col size="12">
        <ion-label class="ion-text-end" color="primary" (click)="forgatePass()">
          <ion-text class="ion-text-end">Forgot Password?</ion-text>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-button color="primary" expand="block" [disabled]="loading" (click)="login()">Login</ion-button>


  </ion-grid>
</ion-content>
