<ion-content class="bg" scrollY="false">
  <div style="position: absolute; bottom: 5%; width: 100%;" *ngIf="step === 1">
    <ion-label class="ion-text-center">
      <h2 style="font-size: 4vh; color: white;"><b>DREAMZEST</b></h2>
      <h2 style="font-size: 3vh; color: white;">DREAMS AND SOLUTIONS</h2>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-button (click)="next()" style="width: 40%;">
              Next
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </div>

  <div style="position: absolute; bottom: 5%;" *ngIf="step === 2">
    <ion-label class="ion-text-center">
      <h2 style="font-size: 4vh; color: white; "><b>DREAMZEST</b></h2>
      <h2 style="font-size: 3vh; color: white; ">HUB OF INTERPRETATION</h2>
      <p style="color: white; font-size: 2vh; margin: 20px 20px;">Want to know the signs life is
        giving
        you through
        dreams? Do you have curiosity of knowing what’s coming your way in the future?
        Dreamzest now brings you dreams analysis and interpretation services online by the best dream interpreter.

      </p>
    </ion-label>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button (click)="next()" style="width: 40%;">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div style="position: absolute; bottom: 5%;" *ngIf="step === 3">
    <ion-label class="ion-text-center">
      <h2 style="font-size: 4vh; color: white;"><b>DREAMZEST</b></h2>
      <h2 style="font-size: 2.22vh; margin-top: 15px; color: white; margin: 10px 20px;">
        Looking for the best dream analysis and interpretation site in New York?</h2>
    </ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button (click)="start()">
            Let's Get Started
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="next()" *ngIf="step !== 3">
    <ion-fab-button>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>