<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="this.modals.dismiss()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dreamzest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    <h2>{{data.heading}}</h2>
    <p>{{data.interpretation}}</p>
    <h2 style="color: var(--ion-color-primary);">Bible Solution</h2>
    <p>{{data.biblic_solutions ?? 'Solution not found'}} </p>
    <h2 style="color: var(--ion-color-primary);">Islamic Solution</h2>
    <p>{{data.quranic_solutions ?? 'Solution not found'}}</p>
  </div>
</ion-content>