<header [title]="'Dreamzest'" [loading]="loading"></header>

<ion-content color="light">

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-label color="primary">
            <h2 style="font-size: 2.7vh; font-weight: bold;">Edit Profile</h2>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding" lines="none">
            <ion-icon class="m-l-10" name="people-circle" color="primary"></ion-icon>
            <ion-input class="m-l-10" placeholder="Name" [value]="userData.name" [(ngModel)]="userData.name">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding" lines="none">
            <ion-icon class="m-l-10" name="person" color="primary"></ion-icon>
            <ion-input class="m-l-10" placeholder="Username" [value]="userData.displayName"
              [(ngModel)]="userData.displayName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding" lines="none">
            <ion-icon class="m-l-10" name="call" color="primary"></ion-icon>
            <ion-input class="m-l-10" placeholder="Phone" [value]="userData.phoneNumber" type="telephone"
              [(ngModel)]="userData.phoneNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding" lines="none">
            <ion-icon class="m-l-10" name="mail" color="primary"></ion-icon>
            <ion-input disabled="true" class="m-l-10" placeholder="Email" [value]="userData.email"
              [(ngModel)]="userData.email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12">
          <ion-button color="primary" expand="block" (click)="updateUserData()">SAVE</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>


  </ion-content>
