<header [title]="'Dreamzest'" [loading]="loading"></header>

<ion-content>
  <h1 style="color: var(--ion-color-primary); margin-left: 2%; text-align: center; font-weight: bold;">PAY WITH CARD
  </h1>
  <p class="txt">Enter Your Card Details below</p>
  <form class="amount-form" [formGroup]="aForm">
    <ion-grid class="ion-margin-end">

      <ion-row>
        <ion-col size="12">
          <ion-input type="tel" maxlength="16" class="m-l-10 card" style="padding: 5px 15px !important"
            placeholder="Enter Card Number" formControlName="cardNumber">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col size="4">
          <ion-input type="tel" maxlength="2" class="m-l-10" style="padding: 5px 15px !important" placeholder="MM"
            formControlName="month"></ion-input>
        </ion-col>

        <ion-col size="4">
          <ion-input type="tel" maxlength="4" class="m-l-10" style="padding: 5px 15px !important" placeholder="YYYY"
            formControlName="year">
          </ion-input>
        </ion-col>

        <ion-col size="4">
          <ion-input id="cc-cvc" type="tel" autocomplete="off" class="m-l-10" style="padding: 5px 15px !important"
            placeholder="CVV" formControlName="cvv" maxlength="3"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="m-l-10">
          <ion-button color="primary" expand="block" [disabled]="loading" (click)="validate()">PAY NOW</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-start" *ngIf="isiOS">
        <ion-col size="12">
          <ion-button color="dark" expand="block" [disabled]="loading" (click)="applePay()">
            <ion-item color="dark">
              <ion-label>
                Pay With
                <ion-icon name="logo-apple" style="margin-right: -5px;"></ion-icon>
                Pay
              </ion-label>
            </ion-item>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>