ion-slides {
  --bullet-background: black;
}

ion-toolbar {
  --background-color: transparent;
  --ion-color-base: transparent !important;
}

ion-header::after {
  background-image: none;
}

// .header {
//     position: absolute;
//     --background: transparent;
//     margin-top: 10px;
//     font-size: 25px;
//     // color: white;
//     width: 100%;
//     font-weight: bold;
// }
// .bg {
//   display: flex;
//   // justify-content: center;
//   align-items: flex-end;
//   height: 70%;
//   background-color: gray;
//   flex-direction: row;
// }

// .slides-bg::before {
//   background: url(/assets/images/texture.jpg) no-repeat center center fixed;
//   background-size: cover;
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   bottom: 30%;
//   left: 0px;
//   opacity: 0.5;
//   content: "";
// }

.full-content {
  --background: url(/assets/img/redbg.jpeg) no-repeat center top/cover;
}

.heading {
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}
.subhead {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.icons {
  color: #000;
  padding: 10px;
  font-size: 30px;

  ion-icon {
    font-size: 60px;
    background-color: rgba($color: #fff, $alpha: 0.4);
    height: 150px;
    color: #3b444b;
    width: 150px;
    padding: 15px;
    border-radius: 100px;
  }
}

.slides-bg {
  background: rgba(0, 0, 0, 0.25) !important;
}
