<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-spinner slot="end" slot="end" [hidden]="!loading"></ion-spinner>

  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true" class="full-content">

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-slides pager="true" class="slides-bg">
    <ion-slide *ngFor="let item of slides" class="ion-margin-bottom ion-padding-horizontal ion-padding-bottom">
      <div class="ion-margin-top">
        <div style="margin-top: 30px"></div>
        <ion-label class="ion-text-center ion-margin">
          <h2 class="heading">{{item.title}}</h2>
          <h4 class="subhead">{{item.subtitle}}</h4>
        </ion-label>
        <div class="icons">
          <ion-icon [name]="item.icon"></ion-icon>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <!-- <div class="bg"> -->
  <!-- <ion-row>
        <ion-col size="12">
          <ion-item style="background-color: red; width: 100%;">
            <ion-icon name="chevron-back"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row> -->
  <!-- </div> -->

  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-label color="primary">
          <h2> <b>{{ product?.title }}</b> </h2>
          <p>{{product?.description}}</p>
        </ion-label>
        <ion-button class="ion-margin-vertical" expand="block" shape="round">Subscribe for {{product?.price}} / month
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-col siz="12" class="ion-text-center">
        <ion-label color="primary">
          <ion-text (click)="openLink('terms')">
            Terms of Service
          </ion-text>
          <ion-text color="medium"> and </ion-text>
          <ion-text (click)="openLink('privacy')">
            Privacy Policy
          </ion-text>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col siz="12" class="ion-text-center">
        <ion-label (click)="refresh()">
          <b>Restore Purchases</b>
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- <p class="txt ion-margin-start">Please select from below</p>

  <ion-grid class="ion-margin-end">

    <ion-row *ngIf="isLoading">
      <ion-col size="12" class="ion-text-center">
        <ion-spinner></ion-spinner>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" *ngFor="let item of products" class="ion-no-padding ion-no-margin">
        <ion-item (click)="subscribe(item)">
          <ion-label>
            <h2><b>{{ item.title }}</b></h2>
            <p>{{ item.description }}</p>
          </ion-label>

          <ion-chip color="light" outline="true">
            <ion-label>{{item.price}}</ion-label>
          </ion-chip>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="m-l-10">
        <ion-button color="primary" expand="block" [disabled]="loading" (click)="refresh()">
          Refresh
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid> -->

</ion-content>
