<header [title]="'Services'" [backVisible]="false"></header>

<ion-content>
  <!-- <ion-button color="secondary" expand="block" (click)="logout()">Logout</ion-button> -->
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="subscripttion_id" size="12">
        <ion-card>
          <ion-card-content>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                Dreamzest Services
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col *ngIf="!subscripttion_id" size="12">
        <!-- *ngIf="!subscripttion_id" -->
        <app-design style="width:100%" (action)="startNow($event)"></app-design>
        <!-- <ion-card>
          <ion-card-content class="ion-no-padding">
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-button style="height: 50px;" (click)="books()">FIND YOUR DREAM</ion-button>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card> -->

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
