<header [backVisible]="false" [loading]="loading"></header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="logo ion-padding">
          <img src="assets/icon/logo.png" />
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer color="light" class="ion-padding ion-no-border">
  <ion-button expand="block" color="primary" (click)="signUp()">CREATE NEW ACCOUNT</ion-button>
  <ion-label class="ion-text-center" color="primary">
    <h2 style="font-size: 1.3vh; margin-top: 10px; margin-bottom: 10px;"> Already have an account? </h2>
  </ion-label>

  <ion-button expand="block" color="primary" (click)="login()">LOGIN TO YOUR ACCOUNT</ion-button>

</ion-footer>
